/* body {
  background-color: #fff5e0;
  font-family: "Inter", sans-serif;
} */

h1 {
  color: #000 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 2.8rem !important; */
}
p {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.lineOne {
  color: #3a8891;
  font-weight: 500;
  font-size: 1.1rem;
}
.lineTwo {
  margin: 2rem;
  font-weight: 400;
}
svg {
  margin: 10px;
  color: #a8a8a8;
}
.TextArea {
  width: 400px;
  min-height: 350px;
  max-height: 350px;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  background-color: #f9f7f7;
}
.TextArea:focus {
  outline: none !important;
  border: 1px solid #a8a8a8;
}
.SubmitButton {
  background-color: #3a8891 !important;
  border: #3a8891 !important;
  border-radius: 10px !important;
}
.UploadBox {
  border: 1px dashed #a8a8a8;
  color: #a8a8a8;
  border-radius: 5px;
  background-color: #f9f7f7;
  padding: 30px;
  width: 275px;
  height: 350px;
  text-align: center;
  cursor: pointer;
  display: flex; /* Enable flex container */
  justify-content: center; /* Horizontally center content */
  align-items: center; /* Vertically center content */
  flex-direction: column;
}

.uploadboxel {
  display: flex; /* Enable flex container */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Align items to the center */
  justify-content: center; /* Justify content to the center */
}

/* .formContainer {
  display: flex;
  justify-content: center;
} */
.Picker {
  display: none;
}

.Picker::-webkit-file-upload-button {
  visibility: hidden;
}
.loaderContainer {
  position: fixed; /* Changed from 'absolute' to 'fixed' */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
